.color-back {
    background-color: white;
    padding-top: 50px;
}


.little-title {
    color: white;
    font-weight: light;
    background-color: #231f20;
    border-radius: 20px;
    padding: 8px 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 0.45em;

}


.big-title {
    color: #1a1f2c;
}

.big-title:not(.sub-heading) {
    font-size: 45px;
    font-weight: 700;
}

.invertbigtitle {
    color: #F26A1F;
    font-style: italic;
    display: block;
    line-height: 1;
}




@media (max-width: 768px) {

    .big-title:not(.sub-heading) {
        font-size: xx-large;
    }

    .invertbigtitle {
        display: block;
        line-height: 1;
    }



}


p {
    color: #3B4252;
}

.WWa {
    margin-top: 40px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.WWa p {
    margin-left: auto;
    margin-right: auto;
}
























.AboutSection2 {
    background-color: white;
    padding-top: 5PX;
}

.fintech-driven {
    max-width: 759px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    line-height: 25.2px;
}


.marWom {
    width: 1066px;
    height: 336px;
    border-radius: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    object-fit: cover;
    object-position: center 35%;

    border: 8px solid #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}










@media (max-width: 768px) {

    .big-title {
        text-align: center;
    }
}



@media (max-width: 768px) {
    .WWa {
        margin-top: 60px;
        padding: 0 20px;
    }
}

@media (max-width: 1250px) {
    .fintech-driven {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5PX;
        padding-right: 5PX;
    }

    .marWom {
        max-width: 90%;
    }
}

@media (max-width: 768px) {

    .marWom {
        height: 230px;
    }
}


@media (max-width: 768px) {
    .marWom {
        max-height: 250px;
    }
}