.FAQ {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    font-weight: 300;
}

.little-title,
.big-title {
    display: block;
    text-align: center;
}

.qcon {
    background-color: #FAFAFA;
    margin: 10px;
    padding: 25px;
    border-radius: 20px;
}

.question {
    color: black;
}

.mqcon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.up {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.up--open {
    transform: rotate(360deg);
}

.answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    color: #4f5055;
    font-size: 14.5px;

}


.answer--open,
.answer2--open,
.answer3--open,
.answer4--open,
.answer5--open {
    max-height: 500px;

}